<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SimpleCam.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <SimpleCam.MySettings>
      <setting name="Disabled" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>false</string>
            <string>false</string>
            <string>false</string>
            <string>false</string>
            <string>false</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CamIP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>X</string>
            <string>X</string>
            <string>X</string>
            <string>X</string>
            <string>X</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CamPort" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1259</string>
            <string>1259</string>
            <string>1259</string>
            <string>1259</string>
            <string>1259</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CamSpeed" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>5</string>
            <string>5</string>
            <string>5</string>
            <string>5</string>
            <string>5</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Titles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Camera1</string>
            <string>Camera2</string>
            <string>Camera3</string>
            <string>Camera4</string>
            <string>Camera5</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Backlighting" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>false</string>
            <string>false</string>
            <string>false</string>
            <string>false</string>
            <string>false</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Compensation" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>false</string>
            <string>false</string>
            <string>false</string>
            <string>false</string>
            <string>false</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cam1Buttons" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Preset1</string>
            <string>Preset2</string>
            <string>Preset3</string>
            <string>Preset4</string>
            <string>Preset5</string>
            <string>Preset6</string>
            <string>Preset7</string>
            <string>Preset8</string>
            <string>Preset9</string>
            <string>Preset10</string>
            <string>Preset11</string>
            <string>Preset12</string>
            <string>Preset13</string>
            <string>Preset14</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cam2Buttons" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Preset1</string>
            <string>Preset2</string>
            <string>Preset3</string>
            <string>Preset4</string>
            <string>Preset5</string>
            <string>Preset6</string>
            <string>Preset7</string>
            <string>Preset8</string>
            <string>Preset9</string>
            <string>Preset10</string>
            <string>Preset11</string>
            <string>Preset12</string>
            <string>Preset13</string>
            <string>Preset14</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cam3Buttons" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Preset1</string>
            <string>Preset2</string>
            <string>Preset3</string>
            <string>Preset4</string>
            <string>Preset5</string>
            <string>Preset6</string>
            <string>Preset7</string>
            <string>Preset8</string>
            <string>Preset9</string>
            <string>Preset10</string>
            <string>Preset11</string>
            <string>Preset12</string>
            <string>Preset13</string>
            <string>Preset14</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cam4Buttons" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Preset1</string>
            <string>Preset2</string>
            <string>Preset3</string>
            <string>Preset4</string>
            <string>Preset5</string>
            <string>Preset6</string>
            <string>Preset7</string>
            <string>Preset8</string>
            <string>Preset9</string>
            <string>Preset10</string>
            <string>Preset11</string>
            <string>Preset12</string>
            <string>Preset13</string>
            <string>Preset14</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cam5Buttons" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Preset1</string>
            <string>Preset2</string>
            <string>Preset3</string>
            <string>Preset4</string>
            <string>Preset5</string>
            <string>Preset6</string>
            <string>Preset7</string>
            <string>Preset8</string>
            <string>Preset9</string>
            <string>Preset10</string>
            <string>Preset11</string>
            <string>Preset12</string>
            <string>Preset13</string>
            <string>Preset14</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Cam1" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Cam2" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowMore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StaySingle" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CamCom" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SerialIP" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="CamAdd" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
            <string>0</string>
          </ArrayOfString>
        </value>
      </setting>
    </SimpleCam.MySettings>
  </userSettings>
</configuration>